.alignment-table .vf-table__cell{
    font-size: 16px;
}
.alignment-table .vf-table__row .vf-table__heading{
    background-color: var(--vf-color--neutral--200);
    font-size: 1rem;
    // text-align: center;
}