.link {
    stroke: #18974c;
}

.focus-ring {
    fill: #0a5032;
}

.node {
    fill: #3b6fb6 !important;
}

.vf-table:not(.alignment-table) > .vf-table__header {
    position: sticky;
    opacity: 90%;
    z-index: 99;
}
.vf-table:not(.alignment-table) > .vf-table__header {
  inset-block-start: 0; /* "top" */
  background-color: var(--vf-color--neutral--300);
}

.button-container {
    display: flex;
    justify-content: flex-end;
}