.download-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.spinner {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border: 0.2rem solid black;
    border-radius: 50%;
    border-top-color: white;
    animation: spin 1s linear infinite;
    margin-right: 0.5rem;
  }
  
  @keyframes spin {
    to { transform: rotate(360deg); }
  }