.table-container td {
    padding: 6px 12px;
}

.table-container td th {
    padding: 6px 12px;
}

.alignment-cell {
    padding: 0 !important;
}

// .vf-table:not(.alignment-table) > .vf-table__footer
.vf-table:not(.alignment-table) > .vf-table__header {
    position: sticky;
    opacity: 90%;
    z-index: 99;
}
.vf-table:not(.alignment-table) > .vf-table__header {
  inset-block-start: 0; /* "top" */
  background-color: var(--vf-color--neutral--300);
}
// .vf-table:not(.alignment-table) > .vf-table__footer {
//   inset-block-end: 0; /* "bottom" */
// }

.button-container {
    display: flex;
    justify-content: flex-end;
}

.modal {
    position: absolute;
    top: 120px;
    left: 120px;
    right: 120px;
    bottom: 120px;
    background-color: papayawhip;
    z-index: 99999;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.first-below-threshold {
    border-top: 4px solid red; 
}

.insignificant {
    background-color: #fcffea;
}

.insignificant.vf-table__row:nth-of-type(even){
    background-color: #eff2df;
}

.significant-no-hits {
    background-color: #ffefef;
}

.significant-no-hits.vf-table__row:nth-of-type(even) {
    background-color: #f2e4e4;
}

